# DS LAB

#### Load CSV

In [134]:
import pandas as pd

df = pd.read_csv("./data/leasing_auto_2023.csv")

In [135]:
df.head()
df.isnull().sum()

Unnamed: 0              0
brand                   0
mileage                 0
deposit                 0
number_of_miles         0
first_registration      0
duration                0
monthly_fee             0
horsepower              0
kilowatts               0
fuel_type               0
emissions             704
consumption           704
dtype: int64

In [116]:
df.isnull().sum()

Unnamed: 0              0
brand                   0
mileage                 0
deposit                 0
number_of_miles         0
first_registration      0
duration                0
monthly_fee             0
horsepower              0
kilowatts               0
fuel_type               0
emissions             704
consumption           704
dtype: int64

#### Functions

##### Preprocessing

In [119]:
from datetime import datetime
from dateutil import relativedelta

#------------------------------------------------------------------------------------------------------------------------------------
# 
# For column "first_registration"

today = "/".join([str(datetime.now().month), str(datetime.now().year)])

def calculateAge(date):
    if date == "Neuwagen":
        return 0
    else:
        delta = relativedelta.relativedelta((datetime.strptime(str(date), "%m/%Y")), (datetime.strptime(str(today), "%m/%Y")))
        delta_months = delta.months * (delta.years * 12)
        return delta_months

#------------------------------------------------------------------------------------------------------------------------------------
# 
# For column "consumption"

def getConsumption(consumption):
    return str(consumption).split()[0]

#------------------------------------------------------------------------------------------------------------------------------------
# 
# For columns in columnsNumeric

def replaceComma(text):
    if "." in str(text): 
        return str("".join(str(text).split("."))).replace(",",".")
    else:
        return str(text).replace(",",".")

def removeLetters(text):
    return "".join(c for c in text if c.isdigit() or c == ".")

def removeThousandPoint(text):
    return str(text).replace(".","")

#------------------------------------------------------------------------------------------------------------------------------------
# 
# Application

columnsNumeric = ["mileage", "deposit", "number_of_miles", "duration", "monthly_fee", "horsepower", "kilowatts", "emissions", "consumption"]

def preProcess(columnsNumeric):

    df["consumption"] = df["consumption"].apply(getConsumption)
    df["first_registration"] = df["first_registration"].apply(calculateAge)

    for i in range(len(columnsNumeric)):
        df[columnsNumeric[i]] = df[columnsNumeric[i]].apply(replaceComma)
        df[columnsNumeric[i]] = df[columnsNumeric[i]].apply(removeLetters)
        #df[columnsNumeric[i]] = df[columnsNumeric[i]].astype("float")

    df["mileage"] = df["mileage"].apply(removeThousandPoint)
    df["number_of_miles"] = df["number_of_miles"].apply(removeThousandPoint)

preProcess(columnsNumeric)

df.head()

,Unnamed: 0,brand,mileage,deposit,number_of_miles,first_registration,duration,monthly_fee,horsepower,kilowatts,fuel_type,emissions,consumption
0,0,Ford,10000,0.00,0,0,48,239.00,125,92,Benzin,97,4.3
1,1,Nissan,10000,0.00,0,0,48,379.00,158,116,Benzin,125,5.5
2,2,Ford,10000,0.00,0,0,48,319.00,155,114,Benzin,119,5.2
3,3,Cupra,10000,0.00,0,0,48,415.00,190,140,Benzin,157,6.9
4,4,Volkswagen Golf,10000,0.00,0,0,48,409.00,245,180,Benzin,149,6.5

In [133]:
df.isna().sum()

Unnamed: 0            0
brand                 0
mileage               0
deposit               0
number_of_miles       0
first_registration    0
duration              0
monthly_fee           0
horsepower            0
kilowatts             0
fuel_type             0
emissions             0
consumption           0
dtype: int64