In [3]:
from sklearn.base import BaseEstimator, TransformerMixin

class PandasTransformer(BaseEstimator, TransformerMixin):
    def __init__(self, transformer):
        self.transformer = transformer

    def fit(self, X, y=None):
        self.transformer.fit(X)
        return self

    def transform(self, X, y=None):
        Xt = X.copy()
        Xt = self.transformer.transform(Xt)
        return Xt

In [8]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import pandas as pd
import numpy as np
from sklearn_pandas import DataFrameMapper


# create example DataFrame
df = pd.DataFrame({
    'col1': ['1', '2', '3'],
    'col2': ['4.5', '5.6', '6.7'],
    'col3': ['7', '8', '9'],
    'col4': ['10.1', '11.2', '12.3'],
    'col5': ['abc', 'def', 'ghi']
})

# define columns to transform
numeric_cols = df.select_dtypes(include=[np.number]).columns.tolist()

# create pipeline
pipeline = Pipeline([
    ("transformer", PandasTransformer(ColumnTransformer([
        ("numeric_cols", DataFrameMapper([
            (numeric_cols, lambda x: x.astype(float))
        ]), numeric_cols)
    ])))
])

# apply pipeline to data
transformed_df = pipeline.fit_transform(df)

In [10]:
pd.DataFrame(transformed_df)

Empty DataFrame
Columns: []
Index: [0, 1, 2]